<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ThanOS - VIDA B2B</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            /* Organiza os elementos em coluna */
            min-height: 100vh;
            /* O corpo ocupa a altura total da janela */
            margin: 0;
            /* Remove margens padrão do body */
        }

        main {
            flex: 1;
            /* O elemento main ocupa todo o espaço restante */
            padding: 1px;
            /* Espaçamento interno */
        }

        footer {
            background-color: #f8f9fa;
            /* Cor de fundo do footer */
            padding: 1rem;
            /* Espaçamento interno */
            text-align: center;
            /* Centraliza o texto */
            position: relative;
            /* Define a posição do footer */
            bottom: 0;
            /* Anexa o footer ao fundo */
        }
    </style>
    <link rel="icon" type="image/png" href="/img/MANOPLA.gif">

    <!-- Bootstrap CSS -->
    <link rel=" stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/thanos/css/menu.css">
</head>

<body>
    <main>
        <!-- Navbar -->
        <nav id="topbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="/thanos">
                    <img src="/img/base-de-dados.gif" width="30" height="30" class="rounded-circle mr-2" alt="Logo">
                    <span>ThanOS</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active" id="vida_sigitm">
                            <a class="nav-link" href="/thanos/sigitm">VIDA B2B</a>
                        </li>

                        <li class="nav-item active" id="posBd" style="display: none;">
                            <a class="nav-link" href="/thanos/pos_bd_b2b">PÓS BD B2B</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LINKS B2B</a>
                            <div class="dropdown-menu" aria-labelledby="menuDropdown">

                                <a class="dropdown-item"
                                    href="https://brtdtlts0002fu.redecorp.br/gps/dashboard_b2b/index" target="_blank"
                                    rel="noopener noreferrer">GPS EMPRESARIAL</a>

                                <a class="dropdown-item"
                                    href="https://app.powerbi.com/groups/me/reports/3138e4a6-bc78-4424-9ce6-c67b6a55644d/ReportSectionb445b0614e5c0e30a351?experience=power-bi&clientSideAuth=0"
                                    target="_blank" rel="noopener noreferrer">IRR/IRT B2B</a>

                                <a class="dropdown-item"
                                    href="https://app.powerbi.com/groups/me/reports/8448e95d-70a3-4dcd-8b5f-74cf7de5c377/ReportSection1d11583f2f338d57ce8e?experience=power-bi"
                                    target="_blank" rel="noopener noreferrer">ABERTOS E ENCERRADOS / VUST</a>

                                <a class="dropdown-item"
                                    href="https://app.powerbi.com/groups/me/reports/77ce5d9e-0de8-4a24-992c-5905c57c1e3b/ReportSection?experience=power-bi">PLANTA
                                    B2B</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POWER APPS B2B</a>
                            <div class="dropdown-menu" aria-labelledby="menuDropdown">
                                <a class="dropdown-item"
                                    href="https://apps.powerapps.com/play/e/default-9744600e-3e04-492e-baa1-25ec245c6f10/a/4a6e89fa-81bd-43f3-82b7-5799ed6f108f?hidenavbar=true"
                                    target="_blank" rel="noopener noreferrer">QUALIDADE B2B</a>

                                <a class="dropdown-item"
                                    href="https://apps.powerapps.com/play/e/default-9744600e-3e04-492e-baa1-25ec245c6f10/a/ba24c9cb-d58a-431c-88bf-30719d3f054f?tenantId=9744600e-3e04-492e-baa1-25ec245c6f10&sourcetime=1754675609437&source=portal"
                                    target="_blank" rel="noopener noreferrer">IRR B2B</a>

                                <a class="dropdown-item"
                                    href="https://apps.powerapps.com/play/e/default-9744600e-3e04-492e-baa1-25ec245c6f10/a/a28a8168-8d3b-44fd-8d97-30772b7b8263?tenantId=9744600e-3e04-492e-baa1-25ec245c6f10&sourcetime=1754675609435&source=portal">B2B
                                    VUST</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                    </ul>

                    <!-- Usuário -->
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#"
                            id="usuarioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-circle fa-lg mr-2"></i>
                            <span id="nomeUsuario">Usuário</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm" aria-labelledby="usuarioDropdown">
                            <a id="painelUpload" class="dropdown-item" href="/thanos/upload_bases"" style=" display:
                                none;">
                                <i class="fa-solid fa-upload text-info mr-2"></i>UPLOAD BASES
                            </a>
                            <a id="painelAdmBtn" class="dropdown-item" href="/admin" style="display: none;">
                                <i class="fas fa-cogs text-warning mr-2"></i>PAINEL ADM
                            </a>
                            <a class="dropdown-item" href="/auth/logout">
                                <i class="fas fa-sign-out-alt text-danger mr-2"></i>SAIR
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Alerta -->
        <div class="container-fluid mt-1">
            <div class="alert alert-primary font-weight-bold" role="alert">
                Bem-vindo(a)!
                <h4 id="acesso"></h4>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h1 class="h3">BASE VIDA B2B - CW</h1>
                        </div>
                        <div class="card-body" style="background-color: rgb(248, 240, 255);">
                            <form id="exportForm">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="startDate">Data de Início:</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="endDate">Data do Fim:</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gprNome">Filtrar por GPR_NOME:</label>
                                    <select class="form-control" id="gprNome" name="gprNome">
                                        <option value="">TODOS</option>
                                        <option value="rede_externa">REDE EXTERNA</option>
                                        <option value="cidade">CIDADE</option>
                                        <option value="centralizado">CENTRALIZADO</option>
                                        <option value="triagem">TRIAGEM</option>
                                        <option value="tel_pl">TEL PLANTA INTERNA</option>
                                        <option value="outros">OUTROS</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Exportar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const startDateInput = document.getElementById('startDate');
            const endDateInput = document.getElementById('endDate');

            // Definir a data de início como o primeiro dia do mês atual
            const today = new Date();
            const firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
            startDateInput.value = firstDayOfMonth;

            // Definir a data de fim como a data de hoje
            const todayStr = today.toISOString().split('T')[0];
            endDateInput.value = todayStr;

            // Definir a data máxima do campo de data de fim como a data de hoje
            endDateInput.setAttribute('max', todayStr);
        });

        document.getElementById('exportForm').addEventListener('submit', function (event) {
            event.preventDefault();


            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const gprNome = document.getElementById('gprNome').value;

            // Verifica se a diferença entre as datas é maior que 31 dias
            const start = new Date(startDate);
            const end = new Date(endDate);
            const diffTime = Math.abs(end - start);
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

            if (diffDays > 31) {

                Swal.fire({
                    icon: 'warning',
                    title: 'Intervalo inválido',
                    text: 'O intervalo entre as datas não pode ser maior que 31 dias.'
                });

                return; //interrompe a execução do código
            }

            Swal.fire({
                title: 'Aguarde...',
                text: 'Processando requisição',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            fetch(`/thanos/oracle-data?startDate=${startDate}&endDate=${endDate}&gprNome=${encodeURIComponent(gprNome)}`)
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'TBL_VIDA_B2B.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    Swal.close();
                })
                .catch(error => {
                    console.error('Erro ao exportar dados:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Erro ao exportar dados. Tente novamente mais tarde.'
                    });
                });
        });
    </script>

    <!-- JS Usuário -->
    <script>
        fetch('/auth/usuario')
            .then(res => res.json())
            .then(data => {
                const nomeUsuario = data.nome;
                const perfilUsuario = data.perfil;
                const acessos = data.acessos;

                document.getElementById('nomeUsuario').innerText = nomeUsuario

                if (perfilUsuario.includes('ADM')) {
                    document.getElementById('painelAdmBtn').style.display = 'inline-block';
                }

                if (perfilUsuario.includes('ADM') || perfilUsuario.includes('USER_UPLOAD')) {
                    document.getElementById('painelUpload').style.display = 'inline-block'

                }
                // document.getElementById('posBd').style.display = 'inline-block';  // Ocultado conforme solicitação
                document.getElementById('relatorios').style.display = 'inline-block';
                console.log('Acessos do usuário:', acessos);


            });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/sweetalert2.all.min.js"></script>

    <footer>
        <div class="card-footer text-muted">
            <p>Criado por Thiago Alves Nunes</p>
        </div>
    </footer>

</body>

</html>